html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd,
q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark,
audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu,
	nav, section {
	display: block;
}

ol {
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}  
  
  
  
  
@mixin maxWidth($width, $margin) {
	max-width: $width;
	margin: $margin;
} 


@mixin hover-color($hoverColor) {
	
	&:hover {
		color: $hoverColor;
	}
}  

 @mixin fontAwesome($content, $fontSize) {
	font-family: FontAwesome;
	content: $content;
	font-size: $fontSize;
 }
  
  
  
* {
	box-sizing: border-box;
}

body {
	padding:0;
	margin:0;
	font-family: Arial;
}


.navigation-wrapper {
	background-color: #2c3e50;
}

.navigation {
	@include maxWidth(1000px, 0 auto);
	overflow: hidden;
	
	.nav-left {
		float: left;
		background-color: white;
		
		a {
			padding: 0 10px;
			display: block;
		}
	}
	.nav-right {
		float: right;
		margin-top: 30px;	

	}
}

.nav-right  a {
	padding: 10px;
	font-size: 18px;	
	text-decoration: none;
	color: white;	
	
	@include hover-color(aqua);
}

.slide-bg {
	background: url(../../images/slide.jpg) no-repeat center top;
	background-size: cover;
	background-position:center center;
	min-height:700px;
	
	color: white;
	text-shadow: 0px 1px 5px black;
	font-size: 25px;
	position: relative;
	margin-top: 5px;
	overflow: hidden;
	
	h1 {
		position: absolute;
		top: 50%;
		left: 40%;
		color: gold;
	}
	a {
		text-decoration: none;
		background-color: aqua;
		padding: 10px 20px;
		position: absolute;
		top: 57%;
		left: 48%;
		background-color: green;
		color: white;
		text-shadow: 0px 1px 1px black;
		border-radius: 25px;
		width: 220px;
		
		&:hover {
			text-shadow: 0px 1px 10px black;
		}
	}
}






.slider-wrapper {
		background-color: #EEEEEE;
		padding: 20px 10px;
		
		h2 {
			text-align: center;
			color: green;
			font-size: 25px;
		}
}
.header-slider {
	@include maxWidth(1120px, 0 auto);
	padding-left: 25px;
	img {
		width: 345px;
		height: 260px;
		border-radius: 10px;
		padding: 0 1px;
	}
}
.slick-current {
	margin-top: 20px;
}

/*Start of Settings for arrows in slick slider*/

.slick-next {
	right: -70px;
}

.slick-prev {
	left: -70px;
}


.slick-prev , .slick-next {
	width: 70px;
	height: 150px;
	z-index: 1;
}

.slick-next:before { 
	@include fontAwesome("\f105", 60px);
	color: black;
}
.slick-prev:before {
	@include fontAwesome("\f104", 60px);
	color: black;
}

/*End of Settings for arrow in slick slider*/



/*Start of Content settings*/

.content-wrapper {
	background-color: #EEEEEE;
	padding: 25px 10px; 
	overflow: hidden;
}

.content {
	@include maxWidth(1200px, 0 auto);
	
	.content-left {
		float: left;
		width: 580px;
	}
	.content-right {
		float: right;
		width: 580px;
		
		p {
			margin-top: 10px;
		}
	}
	
	h1 {
		font-size: 20px;
		text-align: center;
	}
	
	p {
		font-size: 18px;			
	}
}


.content-left {
	.content-list {
		border-top: 1px solid grey;
		padding: 10px 0px 5px;
		margin-top: 10px;
		min-height: 70px;
		
		&:hover {
			.road {color: black;}
			.flag {color: darkgreen;}
			.heart {color: orangered;}
			.rocket {color: red;}
			.smile {color: orange;}
			
		}
	}
	
	.fa {
		float: left;
		padding-right: 20px;
		color: #666;
	}
	
	.road:before {
		@include fontAwesome("\f018", 55px);
	} 
	.flag:before {
		@include fontAwesome("\f024", 55px);
	} 
	.heart:before  {
		@include fontAwesome("\f004", 55px);
	}	
	.rocket:before  {
		@include fontAwesome("\f135", 55px);
	}	
	.smile:before  {
		@include fontAwesome("\f118", 55px);
	}
}

/*End of Content settings*/



/*Start of footer settings*/

.footer-wrapper {
	background-color: darkslategray;
	padding: 10px;
	
	.footer {
		@include maxWidth(1200px, 0 auto);
	}
	
	.map {
		width: 265px;
	}	
	.skype {
		width: 125px;
	}	
	.mail {
		width: 200px;
	}
	
	.phone {
		li:hover {
			color: aqua;
		}
	}
}

.footer-list {
	display: inline-block;
	vertical-align: top;
	width: 225px;
	position: relative;
	color: white;
	margin-right: 35px;
	

	
	ul {
		list-style: none;
	}
	
	a {
		display: block;
		text-decoration: none;
		font-size: 18px;
		color: white;
		padding: 4px 0;
		
		&:hover {
			color: aqua;
		}
	}	
}	

.footer-list:last-child {
	margin-right: 0;
}

.map:before {
	@include fontAwesome("\f041", 30px);
	position: absolute;
	left: -25px;
	top: 17px;
}
.skype:before {
	@include fontAwesome("\f17e", 30px);
	position: absolute;
	left: -30px;

}
.mail:before {
	@include fontAwesome("\f003", 30px);
	position: absolute;
	left: -35px;

}

.phone:before {
	@include fontAwesome("\f095", 30px);
	position: absolute;
	left: -10px;
	top: 17px;

}


/*End of footer settings*/




/*Start of products page*/

.products-wrapper {
	margin-top: 5px;
	
	.products-content {
		@include maxWidth(1140px, 0 auto);
		overflow: hidden;
	}
		
	.product {
		width: 355px;
		/*width: 285px;
		margin-right: 10px;
		*/
		text-align: center;
		position: relative;
		display: inline-block;
		vertical-align: top;
		margin-right: 20px;
		margin-top: 20px;
	}
	
	img {
		width: 355px;
		/*
		width: 285px;
		height: 225px;
		*/
		height: 260px;
		border-radius: 10px;
	}
	
	a {
		text-decoration: none;
	}
	
	h3 {
		color: green;
		font-size: 18px;
		padding: 5px 0;
	}
	p {
		position: absolute;
		bottom: 0;
		width: 100%;
		border-radius: 0px 0px 10px 10px;
		background-color: floralwhite;
		color: orangered;
		font-size: 18px;
		padding: 10px;
	}
}

/*End of products page*/


/*Start of productsNames pages*/

	.product-slider-wrapper {
		float: left;
		overflow: hidden;
		margin: 0 20px 20px 0;
	}

	.product-name {
		@include maxWidth(1120px, 0 auto);
		
			h2 {
				margin: 10px 0;
				text-align: center;
				font-size: 20px;
				color: blue;
			}
		
		.name {
			text-align: center;
			margin: 15px 0;
			font-size: 20px;
			color: green;
		}		
		
		p {
			margin: 15px 0;
		}
		
		.services {
			div {
				display: inline-block;
				vertical-align: top;
				width: 215px;
				text-align: center;
				font-size: 15px;
				position: relative;
			}
			
			img {
				width: 185px;
				height: 150px;

			}
			
			.moreInfo {
				position: absolute;
				left: 200px;
				top: 0;
				z-index: 1;
				background-color: wheat;
				color: green;
				width: 150px;
				border-radius: 10px;
				
				&:before {
					content: '';
					position: absolute;
					left: -15px;
					bottom: 79px;
					width: 0;
					height: 0;
					border-top: 15px solid transparent;
					border-right: 15px solid wheat;
					border-bottom: 15px solid transparent;
				}
				
				ul {
					padding-left: 0;
				}
				
				li {
					list-style: none;
					padding: 2px 0;
				}
			}
		}
	}

	.methodsOfPayments {
		text-align: center;
		
		p {
			font-size: 18px;
		}
		
		.cash p:before {
			@include fontAwesome( "\f0d6", 20px);	
			padding-right: 10px;
		}
		.creditCard p:before {
			@include fontAwesome( "\f09d", 20px);
			padding-right: 10px;
		}
		
		.cash p:hover {&:before{color: green;}}
		.creditCard p:hover {&:before{color: orange;}}
		
	}
	
/*End of productsNames pages*/


/*Start of company page*/

	.aboutUs {
		@include maxWidth(1120px, 0 auto);
		.info {
			margin: 20px 0;
		}
		
		h3 {
			text-align: center;
		}
		
		p {
			margin: 20px 0;
		}
		
		.img-right {
			float:right;
			margin: 5px 0 5px 15px;
		}
		
		.img-left {
			float:left;
			margin: 5px 15px 5px 0px;
		}
		
		img {
			width:380px;
			height: 250px;
		}
	}

@media screen and (max-width: 420px) {
	.aboutUs  {
		img {
			width: 285px;
			height: 170px;
		}
	}
}

/*End of company page*/

/*Start of contact page*/

	.contact {
		@include maxWidth(1120px, 0 auto);
		
		p {
			margin: 20px 0;
		}
	}
	

/*End of contact page*/

/*Start of media queries*/

@media screen and (max-width: 1250px) {
	.footer-list {
		margin-right: 25px;
	}
		
	/*Start of products page*/
	.products-wrapper  .products-content {
		@include maxWidth(800px, 0 auto);
	}	
	/*End of products page*/
}

@media screen and (max-width: 1200px) {
	.header-slider {
		@include maxWidth(750px, 0 auto);
	}
	
	.slick-current {
		margin-top: 0;
	}
	
	
	.content {
		
		.content-left {
			float: none;
			margin: 0 auto;
		}
		
		.content-right {
			float: none;
			margin: 15px auto;
		}
	}
	
	.footer-list {
		margin-right: 10px;
		width: 200px;
	}
	

	
}	
	
@media screen and (max-width: 1100px) {
	.footer-wrapper {
		.mail {
			width: 175px;
		}
		.skype {
			width: 100px;
		}			
	}
}
	
@media screen and (max-width: 1050px) {
	.footer-wrapper {
		.footer {
			@include maxWidth(650px, 0 auto);
		}
		.mail {
			margin: 30px 35px 0 120px;
		}
		.phone {
			margin-top: 30px;
		}
		
	}
	.footer-list {
		margin-right: 20px;
	}	
	
}	
	

@media screen and (max-width: 850px) {
	.header-slider {
		@include maxWidth(370px, 0 auto);
	}
	
	.slide-bg  {
		min-height: 430px;
	}
	
	/*Start of products page*/
	.products-wrapper  {
	
		.products-content {
			@include maxWidth(590px, 0 auto);
			
		}
		
		.product  {
			width: 255px;
			margin-right: 30px;
		}
		
		img {
			width: 255px;
			height: 200px;
		}
	}	
	/*End of products page*/
}	
@media screen and (max-width: 780px) {

	.navigation  {
		
		.nav-left {
			float: none;
			text-align: center;
		}
		
		.nav-right {
			float: none;
			margin-top: 0;
			
			a {
				display: block;
				text-align: center;
			}
		}
	}
}

@media screen and (max-width: 670px) {
	.footer-wrapper {
		.footer {
			@include maxWidth(520px, 0 auto);
		}
		
		.skype {
			margin: 30px 40px 0 115px; 
		}
		.mail {
			margin: 30px 0 0 0;
		}
		.phone {
			margin: 30px 0 0 135px;
		}
	}	
}	

@media screen and (max-width: 620px) {
	
/*Start of products page*/
	.products-wrapper  .products-content {
		@include maxWidth(255px, 0 auto);
		
		.product {
			margin: 10px 0;
		}
	}
/*End of products page*/	
}


@media screen and (max-width: 600px) {
	.slick-prev, .slick-next {
		width: 30px;
	}
	.slick-next {
		right: -35px;
	}
	.slick-prev {
		left: -35px;
	}
	
	.content {
		.content-left {
			width: 100%;
		}
		.content-right {
			width: 100%;
		}		
	}
	
}

	
@media screen and (max-width: 530px) {
	@mixin forPositionLeft($left) {
			&:before {
				left: $left;
			}
	}
	
	.footer-wrapper {
		.footer {
			@include maxWidth(290px, 0 auto);
		}
		
		.map {
			margin: 30px 0 0 30px; 			
			@include forPositionLeft(-35px);		
		}
		.skype {
			margin: 30px 0 0 30px; 
			@include forPositionLeft(-35px);
		}
		.mail {
			margin: 30px 0 0 30px;
			@include forPositionLeft(-35px);
		}
		.phone {
			margin: 30px 0 0 30px; 
			@include forPositionLeft(-35px);
			ul {
				padding-left: 0;
			}			
		}	
	}	
	

}	
	
	
@media screen and (max-width: 500px) {
	.slide-bg  {
		min-height: 380px;
	}
	
	.header-slider {
		@include maxWidth(300px, 0 auto);
		
		img {
			width: 275px;
			height: 200px;
		}
	}
}

@media screen and (max-width: 400px) {
	.slide-bg  {
		min-height: 300px;
	}
	
	.header-slider {
		@include maxWidth(250px, 0 auto);
		
		img {
			width: 225px;
			height: 180px;
		}
	}
}	
@media screen and (max-width: 330px) {
	.header-slider {
		@include maxWidth(200px, 0 auto);
		
		img {
			width: 175px;
			height: 160px;
		}
	}
}	


/*End of media queries*/

















